
 .user-form {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 16px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 10px;
}


 .form-group-notes {
  display: flex;
  align-items: center;
}

.form-group-notes label {
  margin-right: 8px;
}

.buttons {
  margin-top: 16px;
}


.user-form input.invalid,
.user-form textarea.invalid,
.user-form select.invalid {
  border: 1px solid red;
}



